@model IEnumerable<Coffee.Models.Sanpham>
@{
	Layout = "_Layout";
	List<Danhmuc> dsDanhMuc = ViewBag.Categories;
}
<div class="container mt-5">
	@foreach (var category in dsDanhMuc)
	{
		if (category.Sanphams != null && category.Sanphams.Any())
		{
			<h2 class="ms-3 mt-3">@category.CategoryName</h2>
			<div class="row">
				@for (int i = 0; i < category.Sanphams.Count(); i += 3)
				{
					@foreach (var product in category.Sanphams.Skip(i).Take(3))
					{
						<div id="card-wrapper" class="col-12 col-md-6 col-lg-4 mb-3">
							<a id="img-ref" asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId">
								<div class="card mx-2">
									<img src="@Url.Action("GetImage", "Product", new { id = product.ProductId })" class="card-img-top card-height" alt="@product.ProductName">
									<div class="card-body text-center">
										<h5 class="card-title">@product.ProductName</h5>
										<p class="card-text">Giá: @string.Format("{0:N0} VNĐ", product.Price)</p>
										<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.ProductId" class="btn btn-primary add-to-cart">Add to cart</a>
									</div>
								</div>
							</a>
						</div>
					}
				}
			</div>
		}
	}
</div>
